<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homework</title>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link type="text/css" href="/stylesheets/user.min.css" rel="stylesheet" />
</head>
<body ontouchstart>
  <header>
    <div class="wrapper">
      <div class="hw-title">
        Users List
      </div>
    </div>
  </header>
  <section class="hw-section hw-section-list">
    <div class="wrapper">
      <div id="hw-user-list"></div>
    </div>
  </section>
  <script type="text/javascript" src="/js/user.min.js"></script>
</body>
</html>
